<div class="container bg-white text-dark">
  <div class="row my-3">
    <div class="col-12 text-center text-danger">
      <h2>Add item</h2>
    </div>
  </div>
  <form [formGroup]="item">
    <div class="row my-3">
      <div class="col-md-6 col-12 form-floating">
        <input type="text" class="form-control" id="title" placeholder="Title" [formControlName]="'title'" required>
        <label for="title">Title 1</label>
      </div>
      <div class="col-md-6 col-12 form-floating">
        <mat-form-field>
          <mat-label>Deadline</mat-label>
          <input matInput class="form-control" [id]="'deadline'" [matDatepicker]="dp"
          [formControlName]="'deadline'" onkeydown="return false" [min]="today">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="month"></mat-datepicker>
        </mat-form-field>
        <!-- <textarea class="form-control" id="text" [formControlName]="'text'" required></textarea>
        <label for="text">Text</label> -->
      </div>
      <div class="col-12 form-floating">
        <textarea class="form-control" id="text" [formControlName]="'text'" required></textarea>
        <label for="text">Text</label>
      </div>
    </div>
  </form>

  <div class="row my-3">
    <div class="col-12">
      <mat-dialog-actions>
        <button class="btn btn-danger ms-5" mat-button mat-dialog-close>Cancel</button>
        <button class="btn btn-info me-5 ms-auto" mat-button [disabled]="item.invalid ? 'true' : null" [mat-dialog-close]="item.getRawValue()" cdkFocusInitial>Add</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>

