<div class="row py-3">
  <div class="col-12">
    <h1 class="text-center fw-bolder">Login</h1>
  </div>
</div>
<form [formGroup]="login">
  <div class="row py-3">
    <div class="col-lg-3 col-md-6 col-12 form-floating mx-auto">
      <input type="text" class="form-control" id="email" placeholder="email" [formControlName]="'email'" required>
      <label for="email">E-mail</label>
    </div>
  </div>
  <div class="row py-3">
      <div class="col-lg-3 col-md-6 col-12 form-floating mx-auto">
      <input type="password" class="form-control" id="password" placeholder="password" [formControlName]="'password'" required>
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-md-3 col-6 mx-auto">
      <button class="btn btn-success" [disabled]="login.invalid ? 'true' : null" (click)="submitLogin()">Submit</button>
    </div>
  </div>
</form>
@if (error) {
  <div class="row py-3">
    <div class="col-auto mx-auto">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Alert!</h4>
        <p>{{ error }}</p>
        <hr>
      </div>
    </div>
  </div>

}
