<mat-card class="bg-light">
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ item.text }}</p>
    <p>
      TO: {{ item.deadline | date }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button class="btn btn-danger" mat-button (click)="remove.emit(item.id)">Remove</button>
    <button *ngIf="item.state === 'todo'" class="btn btn-success" mat-button (click)="resolve.emit(item)">Resolve</button>
  </mat-card-actions>
</mat-card>
