<div class="row py-3">
  <div class="col-12">
    <mat-card class="bg-info">
      <mat-card-header>
        <h1 class="mx-auto fw-bolder">TODO LIST</h1>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<form [formGroup]="filter">
  <div class="row py-3">
    <div class="col-12">
      <mat-card class="bg-primary-subtle text-primary-emphasis">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-12 form-floating">
              <input type="text" class="form-control" id="title" placeholder="title" [formControlName]="'title'">
              <label for="title">Title</label>
            </div>
            <div class="col-lg-3 col-md-6 col-12 form-floating">
              <input type="text" class="form-control" id="text" placeholder="text" [formControlName]="'text'">
              <label for="text">text</label>
            </div>
            <div class="col-4">
              <button class="btn btn-outline-secondary text-center" (click)="filter.reset()">Clear filter</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>

<div class="row">
  @for (type of types; track $index) {
    <div class="col-4">
      <mat-card [class]="type === 'todo' ? 'bg-info-subtle text-info-emphasis' : 'bg-success-subtle text-success-emphasis'"> <!-- bg-info-subtle text-info-emphasis -->
        <mat-card-content>
          <mat-card-header>
            <h1 class="mx-auto fw-bolder text-uppercase">{{ type }}</h1>
          </mat-card-header>
          @for (item of filteredItems | itemFilter : {state: type}; track $index) {
            <div class="m-2">
              <app-item [item]="item" (remove)="remove($event)" (resolve)="resolveItem($event)"></app-item>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  }
  <div class="col-4">
    <mat-card class="bg-warning-subtle text-warning-emphasis" role="button" (click)="newItem()">
      <mat-card-content>
        <mat-card-header>
          <h1 class="mx-auto fw-bolder text-uppercase">Add new</h1>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </div>
</div>
