/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/theming";
@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-floating > label {
  left: auto !important;
}

mat-form-field {
  width: 100% !important;

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
    border: solid 1px gainsboro;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input,
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label--float-above,
  .mat-datepicker-toggle {
    color: inherit;
  }
}
